.App {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.App-room {
    position: relative;
    width: 100%;
    max-width: 920px;
    height: calc(100% - 61px - 40px);
    margin: 20px auto 20px auto;
    padding: 0 10px;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    justify-content: flex-end;
}

.App-room::before {
    content: "";
    position: absolute;
    top: 0;
    right: 10px;
    bottom: calc(40px + 20px);
    left: 10px;
    background: #f9f9f9;
    border-radius: 5px;
}

.App-messageList {
    position: relative;
    max-height: calc(100% - 20px - 40px);
    margin-bottom: 20px;
}

@media (max-width: 920px) {
    .App-room {
        height: calc(100% - 61px - 20px);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .App-room::before {
        bottom: calc(40px + 10px);
    }

    .App-messageList {
        max-height: calc(100% - 20px - 20px);
        margin-bottom: 10px;
    }
}
